<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.systop.pss.mapper.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.systop.pss.entity.UserInfo" >
    <id column="uu_id" property="uuId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_age" property="userAge" jdbcType="INTEGER" />
    <result column="tel_phone" property="telPhone" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="work_age" property="workAge" jdbcType="INTEGER" />
    <result column="admin_flag" property="adminFlag" jdbcType="VARCHAR" />
    <result column="entry_time" property="entryTime" jdbcType="TIMESTAMP" />
    <result column="dimission_flag" property="dimissionFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uu_id, user_name, user_age, tel_phone, department, work_age, admin_flag, entry_time, 
    dimission_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where uu_id = #{uuId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_info
    where uu_id = #{uuId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.systop.pss.entity.UserInfo" >
    insert into user_info (uu_id, user_name, user_age, 
      tel_phone, department, work_age, 
      admin_flag, entry_time, dimission_flag
      )
    values (#{uuId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userAge,jdbcType=INTEGER}, 
      #{telPhone,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, #{workAge,jdbcType=INTEGER}, 
      #{adminFlag,jdbcType=VARCHAR}, #{entryTime,jdbcType=TIMESTAMP}, #{dimissionFlag,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.systop.pss.entity.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuId != null" >
        uu_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userAge != null" >
        user_age,
      </if>
      <if test="telPhone != null" >
        tel_phone,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="workAge != null" >
        work_age,
      </if>
      <if test="adminFlag != null" >
        admin_flag,
      </if>
      <if test="entryTime != null" >
        entry_time,
      </if>
      <if test="dimissionFlag != null" >
        dimission_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuId != null" >
        #{uuId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAge != null" >
        #{userAge,jdbcType=INTEGER},
      </if>
      <if test="telPhone != null" >
        #{telPhone,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="workAge != null" >
        #{workAge,jdbcType=INTEGER},
      </if>
      <if test="adminFlag != null" >
        #{adminFlag,jdbcType=VARCHAR},
      </if>
      <if test="entryTime != null" >
        #{entryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dimissionFlag != null" >
        #{dimissionFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.systop.pss.entity.UserInfo" >
    update user_info
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAge != null" >
        user_age = #{userAge,jdbcType=INTEGER},
      </if>
      <if test="telPhone != null" >
        tel_phone = #{telPhone,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="workAge != null" >
        work_age = #{workAge,jdbcType=INTEGER},
      </if>
      <if test="adminFlag != null" >
        admin_flag = #{adminFlag,jdbcType=VARCHAR},
      </if>
      <if test="entryTime != null" >
        entry_time = #{entryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dimissionFlag != null" >
        dimission_flag = #{dimissionFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where uu_id = #{uuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.systop.pss.entity.UserInfo" >
    update user_info
    set user_name = #{userName,jdbcType=VARCHAR},
      user_age = #{userAge,jdbcType=INTEGER},
      tel_phone = #{telPhone,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      work_age = #{workAge,jdbcType=INTEGER},
      admin_flag = #{adminFlag,jdbcType=VARCHAR},
      entry_time = #{entryTime,jdbcType=TIMESTAMP},
      dimission_flag = #{dimissionFlag,jdbcType=VARCHAR}
    where uu_id = #{uuId,jdbcType=VARCHAR}
  </update>
  
  <select id="selectUserBytelPhone" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where tel_phone = #{telPhone,jdbcType=VARCHAR}
  </select>
</mapper>