<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.systop.pss.mapper.UserPasswordMapper" >
  <resultMap id="BaseResultMap" type="com.systop.pss.entity.UserPassword" >
    <id column="pwd_id" property="pwdId" jdbcType="INTEGER" />
    <result column="uu_id" property="uuId" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pwd_id, uu_id, pwd
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_password
    where pwd_id = #{pwdId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_password
    where pwd_id = #{pwdId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.systop.pss.entity.UserPassword" >
    insert into user_password (pwd_id, uu_id, pwd
      )
    values (#{pwdId,jdbcType=INTEGER}, #{uuId,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.systop.pss.entity.UserPassword" >
    insert into user_password
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pwdId != null" >
        pwd_id,
      </if>
      <if test="uuId != null" >
        uu_id,
      </if>
      <if test="pwd != null" >
        pwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pwdId != null" >
        #{pwdId,jdbcType=INTEGER},
      </if>
      <if test="uuId != null" >
        #{uuId,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.systop.pss.entity.UserPassword" >
    update user_password
    <set >
      <if test="uuId != null" >
        uu_id = #{uuId,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
    </set>
    where pwd_id = #{pwdId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.systop.pss.entity.UserPassword" >
    update user_password
    set uu_id = #{uuId,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR}
    where pwd_id = #{pwdId,jdbcType=INTEGER}
  </update>
</mapper>